fastapi[standard]
uvicorn

sqlalchemy
asyncpg
greenlet
alembic

passlib
python-jose
argon2-cffi
python-dotenv
email-validator
psycopg2


python-multipart
pillow

stripe
python-dateutil

pytest
pytest-asyncio
pytest-cov
httpx